# Project exclude paths
/.gradle/
/.idea/.name
/build/distributions/KTracer-0.2.0/lib/annotations-13.0.jar
/build/classes/java/main/Box.class
/build/classes/kotlin/main/Box.class
/build/distributions/CNGIF-0.1.0/bin/box.pfm
/build/distributions/CNGIF-0.1.0/bin/box.png
/build/classes/java/test/BoxTest.class
/build/classes/kotlin/test/BoxTest.class
/build/reports/tests/test/classes/BoxTest.html
/build/classes/java/main/BRDF.class
/build/classes/kotlin/main/BRDF.class
/build/classes/java/main/Camera.class
/build/classes/java/main/CheckeredPigment.class
/build/classes/kotlin/main/CheckeredPigment.class
/build/classes/java/test/CheckeredPigmentTest.class
/build/classes/kotlin/test/CheckeredPigmentTest.class
/build/distributions/KTracer-0.2.0/lib/clikt-jvm-3.1.0.jar
/build/distributions/KTracer-0.2.0/bin/CNGIF
/build/distributions/KTracer-0.2.0/bin/CNGIF.bat
/build/classes/java/main/Color.class
/src/main/src/color_dice_4x4.pfm
/src/main/src/original/color_dice_4x4.png
/build/classes/java/test/ColorTest.class
/build/classes/java/main/ConstantsKt.class
/build/classes/java/main/Conversion.class
/build/classes/kotlin/main/Conversion.class
/build/distributions/CNGIF-0.1.0/bin/csg.pfm
/build/distributions/CNGIF-0.1.0/bin/csg.png
/build/classes/java/main/CSGDifference$rayIntersectionList$$inlined$sortedBy$1.class
/build/classes/kotlin/main/CSGDifference$rayIntersectionList$$inlined$sortedBy$1.class
/build/classes/java/main/CSGDifference$rayIntersectionList$$inlined$sortedBy$2.class
/build/classes/kotlin/main/CSGDifference$rayIntersectionList$$inlined$sortedBy$2.class
/build/classes/java/main/CSGDifference.class
/build/classes/kotlin/main/CSGDifference.class
/build/classes/java/test/CSGDifferenceTest.class
/build/classes/kotlin/test/CSGDifferenceTest.class
/build/classes/java/main/CSGIntersection$rayIntersectionList$$inlined$sortedBy$1.class
/build/classes/kotlin/main/CSGIntersection$rayIntersectionList$$inlined$sortedBy$1.class
/build/classes/java/main/CSGIntersection$rayIntersectionList$$inlined$sortedBy$2.class
/build/classes/kotlin/main/CSGIntersection$rayIntersectionList$$inlined$sortedBy$2.class
/build/classes/java/main/CSGIntersection.class
/build/classes/kotlin/main/CSGIntersection.class
/build/classes/java/test/CSGIntersectionTest.class
/build/classes/kotlin/test/CSGIntersectionTest.class
/build/classes/java/main/CSGUnion$rayIntersectionList$$inlined$sortedBy$1.class
/build/classes/kotlin/main/CSGUnion$rayIntersectionList$$inlined$sortedBy$1.class
/build/classes/java/main/CSGUnion$rayIntersectionList$$inlined$sortedBy$2.class
/build/classes/kotlin/main/CSGUnion$rayIntersectionList$$inlined$sortedBy$2.class
/build/classes/java/main/CSGUnion.class
/build/classes/kotlin/main/CSGUnion.class
/build/classes/java/test/CSGUnionTest.class
/build/classes/kotlin/test/CSGUnionTest.class
/build/classes/java/main/Cylinder$rayIntersectionList$$inlined$sortedBy$1.class
/build/classes/kotlin/main/Cylinder$rayIntersectionList$$inlined$sortedBy$1.class
/build/classes/java/main/Cylinder.class
/build/classes/kotlin/main/Cylinder.class
/build/classes/java/test/CylinderTest.class
/build/classes/kotlin/test/CylinderTest.class
/build/classes/java/main/Demo$$special$$inlined$convert$1.class
/build/classes/kotlin/main/Demo$$special$$inlined$convert$1.class
/build/classes/java/main/Demo$$special$$inlined$convert$2.class
/build/classes/kotlin/main/Demo$$special$$inlined$convert$2.class
/build/classes/java/main/Demo$$special$$inlined$convert$3.class
/build/classes/kotlin/main/Demo$$special$$inlined$convert$3.class
/build/classes/java/main/Demo$$special$$inlined$convert$4.class
/build/classes/kotlin/main/Demo$$special$$inlined$convert$4.class
/build/classes/java/main/Demo$1.class
/build/classes/kotlin/main/Demo$1.class
/build/distributions/CNGIF-0.1.0/bin/demo.2.png
/build/classes/java/main/Demo.class
/build/classes/kotlin/main/Demo.class
/build/distributions/CNGIF-0.1.0/bin/demo.pfm
/build/distributions/CNGIF-0.1.0/bin/demo.png
/build/distributions/CNGIF-0.1.0/bin/demo2.png
/build/distributions/CNGIF-0.1.0/bin/demo_HD.pfm
/build/distributions/CNGIF-0.1.0/bin/demo_HD.png
/build/distributions/CNGIF-0.1.0/bin/demo_orto.pfm
/build/distributions/CNGIF-0.1.0/bin/demo_orto.png
/build/distributions/KTracer-0.2.0/bin/demoworld-perspective.mp4
/src/main/src/dice.pfm
/build/classes/java/main/DiffuseBRDF.class
/build/classes/kotlin/main/DiffuseBRDF.class
/build/classes/java/test/DiffuseBRDFTest.class
/build/classes/kotlin/test/DiffuseBRDFTest.class
/build/classes/java/main/FlatRenderer$computeRadiance$1.class
/build/classes/kotlin/main/FlatRenderer$computeRadiance$1.class
/build/classes/java/main/FlatRenderer.class
/build/classes/kotlin/main/FlatRenderer.class
/build/classes/java/main/FloatExtKt.class
/build/classes/java/main/GrammarError.class
/build/classes/java/main/HdrImage.class
/build/classes/java/test/HdrImageTest.class
/build/classes/java/main/HitRecord.class
/build/classes/java/main/IdentifierToken.class
/build/classes/java/main/ImagePigment.class
/build/classes/kotlin/main/ImagePigment.class
/build/classes/java/test/ImagePigmentTest.class
/build/classes/kotlin/test/ImagePigmentTest.class
/build/classes/java/main/ImageTracer.class
/build/classes/java/test/ImageTracerTest$ImageCoverage$f$1.class
/build/classes/java/test/ImageTracerTest$ImageCoverageAA$f$1.class
/build/classes/kotlin/test/ImageTracerTest$ImageCoverageAA$f$1.class
/build/classes/java/test/ImageTracerTest.class
/build/distributions/CNGIF-0.1.0/bin/*/*.png
/build/classes/java/main/InStream.class
/build/classes/java/test/InStreamTest.class
/build/classes/java/main/InvalidPfmFileFormat.class
/build/classes/java/main/KeywordEnum.class
/build/classes/java/main/KeywordEnumKt.class
/build/classes/java/main/KeywordToken.class
/build/distributions/KTracer-0.2.0/lib/kotlin-stdlib-1.4.31.jar
/build/distributions/KTracer-0.2.0/lib/kotlin-stdlib-common-1.4.31.jar
/build/distributions/KTracer-0.2.0/lib/kotlin-stdlib-jdk7-1.4.31.jar
/build/distributions/KTracer-0.2.0/lib/kotlin-stdlib-jdk8-1.4.31.jar
/build/distributions/KTracer-0.2.0/bin/KTracer
/build/scripts/KTracer
/build/distributions/KTracer-0.2.0/bin/KTracer.bat
/build/scripts/KTracer.bat
/build/classes/java/main/KTracer.class
/build/classes/kotlin/main/KTracer.class
/build/classes/kotlin/main/META-INF/KTracer.kotlin_module
/build/classes/kotlin/test/META-INF/KTracer.kotlin_module
/.idea/modules/KTracer.main.iml
/build/classes/java/main/META-INF/KTracer.main.kotlin_module
/.idea/modules/KTracer.test.iml
/build/classes/java/test/META-INF/KTracer.test.kotlin_module
/build/kotlin/KTracer020jar-classes.txt
/build/distributions/KTracer-0.2.0/lib/KTracer-0.2.0.jar
/build/libs/KTracer-0.2.0.jar
/build/distributions/KTracer-0.2.0.tar
/build/distributions/KTracer-0.2.0.zip
/build/distributions/CNGIF-0.1.0/bin/KTracerDemo.pfm
/build/distributions/KTracer-0.2.0/bin/KTracerDemo.pfm
/KTracerDemo.pfm
/build/distributions/CNGIF-0.1.0/bin/KTracerDemo.png
/KTracerDemo.png
/KTracerDemo_benchmark.png
/KTracerDemo_CSG+.png
/KTracerDemo_Cyl.png
/KTracerDemo_MirrBack.png
/KTracerDemo_Prova1.png
/KTracerDemo_Prova2.png
/KTracerDemoMar.png
/KTracerDemoMod.png
/build/classes/java/main/LiteralNumberToken.class
/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values
/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values.s
/build/classes/java/main/MainKt.class
/src/main/src/original/map.jpg
/src/main/src/marble.pfm
/src/main/src/original/marble.webp
/build/classes/kotlin/main/MarblePigment.class
/build/classes/java/main/Material.class
/build/classes/kotlin/main/Material.class
/.idea/modules/me.annapivetta.CNGIF.test.iml
/src/main/src/minecraft.pfm
/src/main/src/original/minecraft.png
/src/main/src/minecraft_4x4.pfm
/src/main/src/minecraft_dirt.pfm
/src/main/src/original/minecraft_dirt.png
/src/main/src/minecraft_hd.pfm
/src/main/src/original/minecraft_hd.png
/src/main/src/minecraft_hd_4x4.pfm
/.idea/modules.xml
/build/classes/java/main/Normal.class
/build/classes/java/main/ONBKt.class
/build/classes/kotlin/main/ONBKt.class
/build/classes/java/test/ONBTest.class
/build/classes/kotlin/test/ONBTest.class
/build/classes/java/main/OnOffRenderer$computeRadiance$1.class
/build/classes/kotlin/main/OnOffRenderer$computeRadiance$1.class
/build/classes/java/main/OnOffRenderer.class
/build/classes/kotlin/main/OnOffRenderer.class
/build/classes/java/main/OrthogonalCamera.class
/build/classes/java/test/OrthogonalCameraTest.class
/build/classes/java/main/Parameters.class
/build/classes/java/main/PathTracer$computeRadiance$1.class
/build/classes/kotlin/main/PathTracer$computeRadiance$1.class
/build/classes/java/main/PathTracer.class
/build/classes/kotlin/main/PathTracer.class
/build/classes/java/test/PathTracerTest.class
/build/classes/kotlin/test/PathTracerTest.class
/build/classes/java/main/PCG.class
/build/classes/kotlin/main/PCG.class
/build/classes/java/test/PCGTest.class
/build/classes/kotlin/test/PCGTest.class
/build/classes/java/main/PerspectiveCamera.class
/build/classes/java/test/PerspectiveCameraTest.class
/build/classes/java/main/Pigment.class
/build/classes/kotlin/main/Pigment.class
/build/classes/java/main/Plane.class
/build/classes/kotlin/main/Plane.class
/build/classes/java/test/PlaneTest.class
/build/classes/kotlin/test/PlaneTest.class
/build/classes/java/main/Point.class
/build/classes/java/test/PointTest.class
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.s
/build/classes/java/main/Ray.class
/build/classes/java/test/RayTest.class
/build/classes/java/main/Render$$special$$inlined$convert$1.class
/build/classes/kotlin/main/Render$$special$$inlined$convert$1.class
/build/classes/java/main/Render$$special$$inlined$convert$2.class
/build/classes/kotlin/main/Render$$special$$inlined$convert$2.class
/build/classes/java/main/Render$$special$$inlined$convert$3.class
/build/classes/kotlin/main/Render$$special$$inlined$convert$3.class
/build/classes/java/main/Render$$special$$inlined$convert$4.class
/build/classes/kotlin/main/Render$$special$$inlined$convert$4.class
/build/classes/java/main/Render$1.class
/build/classes/kotlin/main/Render$1.class
/build/classes/java/main/Render.class
/build/classes/kotlin/main/Render.class
/build/classes/java/main/Renderer.class
/build/classes/kotlin/main/Renderer.class
/build/classes/java/main/Shape.class
/build/classes/java/main/SourceLocation.class
/build/classes/java/main/SpecularBRDF.class
/build/classes/kotlin/main/SpecularBRDF.class
/build/classes/java/test/SpecularBRDFTest.class
/build/classes/kotlin/test/SpecularBRDFTest.class
/build/classes/java/main/Sphere$rayIntersectionList$$inlined$sortedBy$1.class
/build/classes/kotlin/main/Sphere$rayIntersectionList$$inlined$sortedBy$1.class
/build/classes/java/main/Sphere.class
/build/classes/java/test/SphereTest.class
/build/classes/java/main/StopToken.class
/build/classes/java/main/StringToken.class
/build/classes/java/main/SymbolToken.class
/build/test-results/test/TEST-BoxTest.xml
/build/classes/java/main/Token.class
/build/classes/java/test/TokenTest.class
/build/classes/java/main/Transformation.class
/build/classes/java/test/TransformationTest.class
/build/classes/java/main/UniformPigment.class
/build/classes/kotlin/main/UniformPigment.class
/build/classes/java/test/UniformPigmentTest.class
/build/classes/kotlin/test/UniformPigmentTest.class
/build/classes/java/main/Vector.class
/build/classes/java/main/Vector2d.class
/build/classes/java/test/VectorTest.class
/build/classes/java/main/World.class
/build/classes/java/test/WorldTest.class
